@font-face {
    font-family: Spook;
    src: url(Creepster-Regular.ttf);
}

body {
    font-family: monospace;
    padding-bottom: 30%;
}

h1 {
    font-family: Spook, monospace;
}

.book {
    margin: 5px;
}

.selected {
    background-color: azure;
}

.simple-border {
    /* border-style: solid;
    border-width: 2px;
    border-color: #333; */
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 10px;
}