@font-face {
    font-family: Spook;
    src: url(Creepster-Regular.ttf);
}

h1 {
    font-family: Spook, monospace;
}

body {
    font-family: monospace;
}

.selected {
    background-color: azure;
}