{% extends "layout.html" %}

{% block main %}
    <p>
        "It's a bit of a longer way from the others, but this is Bullings. The Dark Arts Department is located in this building, but it used to be home to Finance and Banking."
    </p>
    <p>
        "Actually, that reminds me! If you have any courses that say they take place in the Reedreth Building, you can safely ignore that. The Cartrall Building is where you actually need to go. Dark Arts used to be in Cartrall, and when they moved out, Unholy Rituals moved over to there from Reedreth. Or at least I think so, I'm actually an Alchemy student."
    </p>
    <p>
        "Anyways, lots of students get lost in the first days, just make sure to go to the right building. Let's go back to the <a href="/52">park</a> now."
    </p>
{% endblock %}
