{% extends "layout.html" %}

{% block main %}
    <p>
        You approach a building that combines several styles and geometries into an architectural abomination with several entrances. Turrets jut out of the horrible mass at oblique angles and where the different elements meet, they are welded together and held by a steel frame.
    </p>
    <p>
        "Yeah so this building is the result of a recent fusion the university did for budgetary reasons. They put together the budgets of the Departments of English, German, Spanish, Architecture, Italian, Slavic Language and Culture, Language Teacher Training, Archeology, Sociology, Gender Studies, History and East Asian Studies."
    </p>
    <p>
        "To reflect this change in organizations, they not only combined all the buildings into one to save heating and cleaning costs, but they also literally tore apart all the employees that were still paid and stitched the most profitable parts back together into new staff members. The Engineering Department helped with channeling lightnings into our labs to reanimate the resulting corpses, which are now happily working away in the Corner building. Each member is now able to handle all of the subjects and all of the responsibility. So efficient!"
    </p>
    <div id="disinfectant"></div>
    <p>
        You step inside.
    </p>
    <p>
        "Please note that this building has five entrances, which all lead to different parts of the building. If you have a class in the East part, you have to take the East entrance. The elevator only services the North part, but it's been out of service for a while anyways. To get to the South part, you actually need to take the West entrance, and to get to the West, you need the South 2 entrance. The regular South entrance leads to the underground lecture theaters."
    </p>
{% endblock %}
