{% extends "layout.html" %}

{% block main %}
    <h6>
        Sender: globalopps@plinthberg.ac.uk<br>
        <strong>Subject: RE: Please Choose Your Modules</strong><br>
    </h6>
    <p>
        You have booked the following modules:
    </p>
    <ol id="booked-modules"></ol>
    <p>
        They are in the following rooms:
    </p>
    <ol>
        <li>Lecture Hall 45957, in the Reedreth Building</li>
        <li>Seminar Room 72401, in the Billings-Clyde Building</li>
    </ol>
    <p>
        See you <a href="/9">soon</a> at the UoP! Do make sure to attend the welcome week in Tresnell park.
    </p>
{% endblock %}