{% extends "layout.html" %}

{% block main %}
    <h6>
        Sender: globalopps@grundleplith.ac.uk<br>
        <strong>Subject: RE: Please Choose Your Modules</strong><br>
    </h6>
    <p>
        You have booked the following modules:
    </p>
    <ol id="booked-modules"></ol>
    <p>
        They are in the following rooms:
    </p>
    <ol>
        <li>Room LH45957</li>
        <li>Room SR72401</li>
    </ol>
    <p>
        See you <a href="/9">soon</a> at the UoG!
    </p>
{% endblock %}