{% extends "email_layout.html" %}

{% block content %}
    <h6>
        Sender: globalopps@plinthberg.ac.uk<br>
        <strong>Subject: RE: Please Choose Your Modules</strong><br>
    </h6>
    <p>
        Dear exchange student
    </p>
    <p>
        We have noticed that the choices you sent us for review do not add up to 12 credits. We must inform you that the University of Plinthberg<sup>leaders of alchemy transmogrification and the dark arts</sup> uses Plinthberg credits, which are different from the ones that literally everyone around us uses. Ages ago, an ancient hag bestowed a curse upon us that says we must use bureaucratic procedures that are as old as the hag and maximally confusing. 
    </p>
    <p>
        Therefore, please disregard what you know about credits and module-booking from your home university, because this system is designed to be the pinnacle of constraint and frustration. Please repeat the process, but this time, make sure to select exactly 12 credits.
    </p>
    <table class="u-full-width"></table>
    <button id="module-submit">Submit Module Selection</button>
{% endblock %}