{% extends "layout.html" %}

{% block main %}
    {% block content %}{% endblock %}
    <p></p>
    <p>
        Due to the large volume of e-mails that could in no way be anticipated in registration season, there may be a small delay of at least 38 days in answers from this e-mail address.
    </p>
    <p></p>
    <p>
        --<br>
        Global Opportunities & Exchanges<br>
        The University of Grundleplith<br>
        Level 13, The Tower of Death<br>
        Across the River of Souls<br>
        Grundleplith, G10 4TN<br>        
        
        This email is brought to you by the University of Grundleplith, leaders of Alchemy, Transmogrification and the Dark Arts.<br> 
        Now on TikTok!<br>
    </p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
{% endblock %}