{% extends "email_layout.html" %}

{% block content %}
    <h6>
        Sender: globalopps@plinthberg.ac.uk<br>
        <strong>Subject: Please Choose Your Modules</strong><br>
    </h6>
    <p>
        Dear exchange student
    </p>
    <p>
        We are so happy that you chose the University of Plinthberg<sup>leaders of alchemy transmogrification and the dark arts</sup> as your destination. Surprising, too, given the unfortunate disintegration of previous students, and the ongoing plague. (Don't worry, we put up hand disinfectant everywhere.)
    </p>
    <p></p>
    <p>
        <strong>Module booking</strong><br>
        You select provisional modules you wish to study in your application. You can select any of the modules in the dropdown menu in your application form.
    </p>
    <p>
        Unless you are hosted by the School of Unholy Rituals, you will only be able to select modules from one department.
    </p>
    <p>
        If a module is rejected, we will contact you by email with a list of replacement modules you can select from.
    </p>
    <p>
        For a semester, you are expected to register for 12 credits. 
    </p>
    <p>
        Below is a list with the modules from your department which you may sign up for.
    </p>
    <table class="u-full-width"></table>
    <button id="module-submit">Submit Module Selection</button>
{% endblock %}