{% extends "layout.html" %}

{% block main %}
    <p>
        You pull the door open by the wrist-thick bar that runs down its length. It appears only loosely attached, and so it rattles and squeals as it passes on the force of your hand to the door itself.
    </p>
    <p>
        The reception seems to be busy with another tenant, arguing about some issue with their room. Did I hear "rats"? The language of the locals is hard to understand.
    </p>
    <p>
        Eventually, the reception frees up.
    </p>
    <p>
        "Hello, sir, can I help you?" His face contorts into a smile that would fit perfectly into a generic toothpaste commercial.
    </p>
    <p>
        "Hi, I booked a room here for the semester?"
    </p>
    <p>
        "Ah, yes, please show me your passport and I'll be right back.""
    </p>
    <p>
        There is some ruffling of paper as he operates a photocopier that is just barely faster than copying something over by hand. As he's busy with this, he looks back over to you.
    </p>
    <p>
        "I'm putting you in a different room than the one you've initially booked. That one has some...
    </p>
    <p>
        ...issues.."
    </p>
    <p>
        His nine-out-of-ten-dentist-approved smile is unchanged.
    </p>
    <p>
        "Anyways, if you just sign here, here, and here, I can show you right to your <a href="/20">room</a>."
    </p>

{% endblock %}
