{% extends "layout.html" %}

{% block main %}
    <p>
        When the time comes, you undertake the journey through plague-ridden Europe. The plague doesn't seem to have arrived in the your host country at all, and so people seem to fully disregard any measures that might stop its spread. How lucky that the disease doesn't exist here.
    </p>
    <p>
        Dark skies above, you climb the ever-shifting landscape of Grundleplith from the train station and eventually arrive at what you're pretty sure is your accommodation.
    </p>
    <p>
        A hulking mass of brick disappears into the darkness above. The side of the building holds a sign.
    </p>
    <pre><code>Live in Luxury and Style!</code></pre>
    <p>
        <a href="/19">Enter the building</a>
    </p>
{% endblock %}