{% extends "layout.html" %}

{% block main %}
    <p>
        "Welcome to the Lurchins Building, home to the Schools of Alchemy and Transmogrification and one of the largest buildings as you can see. There is a lot of interdisciplinar collaboration between these schools, so that's why they were put in the same building."
    </p>
    <p>
        "By the way, if you're doing English Literature and Linguistics and someone told you to go to the Cartrall Building, this building here is actually where you need to go. It's a long story, but there used to be an interdimensional portal that connected the two and so everyone's kinda used to them being connected when they're actually not anymore and yada yada yada. Point is, new arrivals often get it wrong, so be sure to go to the right building."
    </p>
    <div id="disinfectant"></div>
    <p>
        "Now, let's move back to <a href="/52">Tresnell Park</a>."
    </p>

{% endblock %}
