{% extends "layout.html" %}

{% block main %}
    <p>
        So, this is the King Building! Let's step a bit deeper inside.
    </p>
    <div id="disinfectant"></div>
    <p>
        "Some of you have asked me questions about the zombies that roam the university area and buildings. Well, this building holds the Department of Undeath, which has made great strides in their field in recent years."
    </p>
    <p>
        "You see, those 'zombies' are actually not undead in the traditional sense, they are actually staff members! The university has steadily decreased what they pay employees while also increasing their workload over time. This has led to many staff members's souls literally being crushed and their life force being sapped from their spirits. It's a national problem really. But through the university's ingenuity and research, they've found ways to exploit their staff even beyond the point of total physical and mental exhaustion."
    </p>
    <p>
        "The Department of Undeath has unearthed old forbidden rituals by which they can keep human beings functioning even if it shouldn't biologically be possible. So while some of the people you see around campus may look and act like zombies, they are actually staff members that are doing their jobs exactly as planned by the university."
    </p>
    <p>
        "Let's head back to the <a href="/52">park</a> now."
    </p>
{% endblock %}
