{% extends "layout.html" %}

{% block main %}
    <p>
        A sign in the door says "Test Chamber 968". As you enter, an enormous empty room opens up before you. There are two major surfaces with a gap between them that drops enormously low, certainly enough that a fall from it would leave you dead.
    </p>
    <p>
        The walls are white, which is curiously different from the rest of the building. Something that looks like a projectile weapon lies to your feet.
    </p>
    <p>
        Unfortunately, you have no time for test chambers right now!
    </p>
{% endblock %}