{% extends "layout.html" %}

{% block main %}
    <p>
        You've heard about this! The "Real Life 52092" lecture series is there to explain the ways in which literary theory has a real and positive impact on the world. In the lecture that is currently happening in this room, the professor talks about her interpretation of some obscure piece of literature noone has heard about, including you. 
    </p>
    <p>
        One of the students seems to be having a really good run on <em>Magic the Gathering: Arena</em> on her laptop, though. 
    </p>
    <p>
        Inspired, you continue the search for your room.
    </p>
{% endblock %}