{% extends "layout.html" %}

{% block main %}
    <p>You've found Library Tip™ #2648.</p>
    <p>
        Library Tip™: libraries contain books, which usually contain words. Some of those words may be helpful for your studies as a student at the University of Grundleplith, so you too can become a Leader in Alchemy, Transmogrification or the Dark Arts.
    </p>
    <p>
        This tip is brought to you by the University of Grundleplith, Leaders in Alchemy, Transmogrification and the Dark Arts.
    </p>
{% endblock %}