{% extends "layout.html" %}

{% block main %}
    <p>
        Dear exchange student, 
    </p>
    <p>
        Thank you for choosing the University of Grundleplith, leaders in Alchemy, Transmogrification and the Dark Arts. We look forward to welcoming you to our campus.
    </p>
    <p>
        You will be presented with a variety of important information during the registration and orientation process, so it's best to take notes when you encounter a piece of information that seems like you might need it later.
    </p>
    <p>
        Click <a href="/2">here</a> to set the password for your user account.
    </p>
{% endblock %}