{% extends "layout.html" %}

{% block main %}
    <p>
        "This park is at the center of most of the buildings of Grundleplith. Over there you can see the Juniorstein and King buildings, and that lumbering mass in the distance you might not be able to recognize, but that's the Corner Building."
    </p>
    <p>
        "The Billings-Clyde building is a bit further off, but we'll get to that one today, too."
    </p>
    <p>
        "Other than being a great spot to relax, Tresnell Park is also home to many different types of crows. The nearly-undead that roam the park also often attract rare vulture species, so keep an eye out!"
    </p>
{% endblock %}
