{% extends "layout.html" %}

{% block main %}
    <p>
        "This park is at the center of most of the buildings of Plinthberg. Over there you can see the Lurchins and King buildings, and that lumbering mass in the distance you might not be able to recognize, but that's the Corner Building."
    </p>
    <p>
        "The Bullings building is a bit further off, but we'll get to that one today, too."
    </p>
    <p>
        "Other than being a great spot to relax, Tresnell Park is also home to many different types of crows. The nearly-undead that roam the park also often attract rare vulture species, so keep an eye out!"
    </p>
    <p>
        "We also have pigeons, of course. Once I even heard a crazy story about this person who was cursed and turned into a pigeon and they didn't realize what they were and they had to find their way out of the park and survive. Sounds made up but you never know."
    </p>
    <p>
        "Where should we go next?"
    </p>
    <p><a href="/53">Lurchins Building</a></p>
    <p><a href="/54">Corner Building</a></p>
    <p><a href="/55">King Building</a></p>
    <p><a href="/56">Bullings Building</a></p>
    <p>
        Move on to the <a href="/10">first week</a> once you feel like you know things.
    </p>
{% endblock %}
