{% extends "layout.html" %}

{% block main %}
    <p>
        Having arrived in Tresnell park, it takes you a while to find your way along the foggy twisted paths that run beneath the gnarled black trees. Eventually, you find a small group of people standing in a circle around someone wearing a brightly colored t-shirt under a heavy coat.
    </p>
    <p>
        "Thank you all for coming to the welcome week tour of the University of Plinthberg<sup>leaders of alchemy transmogrification and the dark arts</sup>! There is a lot of ground to cover, so let's get started with our walking tour!"
    </p>
    <p>Go to <a href="/52">Tresnell Park</a></p>
{% endblock %}