{% extends "layout.html" %}

{% block main %}
    <p>
        Unfortunately, the elevator is currently out of use, so you climb the stairs to your flat on the fourth floor.
    </p>
    <p>
        You enter into a hallway without any windows. Various boxes, shoes and plastic bags clutter the floor and luckily cover up some of the stains that appear to have been left undisturbed otherwise.
    </p>
    <p>
        The kitchen is likewise filled with discarded items and organic matter in various states of decay. One zone of the stovetop is cleared, however, ostensibly to allow for cooking. The rest looks thoroughly crusted over.
    </p>
    <p>
        As you turn on the light in your room, a palette of insects scurries away from you and they bury themselves in the carpet flooring. Those must've been the slower, bigger ones that were not scared off by your footsteps. The insects must've claimed the room for themselves after the last human occupant left.
    </p>
    <p>
        It's remarkable how all of the biological kingdoms, from animals vertebrate and invertebrate to bacteria to fungi, coexist in harmony in the microcosm of this flat. You get the sense that the managers of the property don't wish to disturb this delicate ecosystem, but indeed they promise to tackle your complaints "soon". As for the common areas, the smiling receptionist informs you that this is unacceptable standard of cleanliness from your roommates, and that he is considering sending a polite request to clean up to your roommates via e-mail. You feel confident that this will improve the situation.
    </p>
    <p>
        After settling into your new home, it's now time to attend Grundleplith's <a href="/51">welcome week</a>, which offers important orientation for new arrivals.
    </p>
{% endblock %}
